*{
    padding:0;
    margin:0;
    background-color:#0d1b2a;
}

.container{
    box-sizing: border-box;
}

.container h1{
    color:#98abc1;
}

.container p{
    color:hsl(212, 25%, 70%); 
}

li,a{
    color: White;
    font-family: Montserrat, sans-serif;
    text-decoration: none;
    list-style: none;
}

.nav_content li{
    display:inline-block;
    padding: 0px 10px;
    margin: 0px 15px;
}


.navbar{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5%;
}

.logo{
    width:20px;
    cursor: pointer;
}


.nav_content li a{
    transition:all 0.3s ease 0s;
}

.nav_content li a:hover{
    color: rgb(178, 112, 239);
}




.row{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-content: center;
    padding: 200px 5%;
    grid-gap: 30px;
    color:#c5d0dc;
}

.column1{
    flex-basis: 50%;
    justify-content: center;
}
.btn_section{
    padding-top: 1rem;
}

.btn_section button{
    margin: 5px 10px;
    border-radius: 100px;
    padding: 10px 20px;
}
button{
    transition:all 0.3s ease 0s;
    color: white;
    background-color: rgb(173, 95, 246);
}
button:hover{
    background-color: rgb(217, 179, 245);
    color:rgb(115, 18, 205);
    cursor: pointer;
}

.column2{
    flex-basis: 50%;
    height: 100%;
}

body::-webkit-scrollbar {
    width: 5px;
  }

  body::-webkit-scrollbar-track{
    background-color:#060f19;
  }

  body::-webkit-scrollbar-thumb{
    background-color:rgb(178, 112, 239);
    border-radius:10px;
  }